@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Main Container */

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

/* Form Container */

.form-container {
  width: 360px;
  border-radius: 0.75rem;
  background-color: rgba(17, 24, 39, 1);
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.title {
  text-align: center;
  font-size: 2.3rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 1rem;
  line-height: 1.28rem;
}

.input-group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  font-size: 1rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
  transition: border-color .4s;
}

.input-group input:focus {
  border-color: rgba(167, 139, 250);
  transition: border-color .4s;
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
  line-height: 1rem;
  color: rgba(156, 163, 175,1);
  margin: 10px 0 15px 0;
}

.forgot a,.signup a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover, .signup a:hover {
  text-decoration: underline rgba(167, 139, 250, 1);
}

.sign {
  display: block;
  width: 100%;
  background-color: rgba(167, 139, 250, 1);
  padding: 0.75rem;
  text-align: center;
  font-size: 1rem;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
  transition: background-color .4s;
  cursor: pointer;
}

.sign:hover {
    background-color: rgb(140, 102, 255);
    transition: background-color .4s;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(156, 163, 175, 1);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
  cursor: pointer;
  transition: fill .4s;
}

.social-icons .icon svg:hover {
    fill: rgba(167, 139, 250, 1);
    transition: fill .4s;
}

.signup {
  text-align: center;
  font-size: 0.85rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}